@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Tajawal:wght@400;700&display=swap');

body {
  font-family: "Tajawal", sans-serif;
  font-size: 18px;
  line-height: 2;
}

h1, h2, h3, h4 {
  font-family: "Amiri", serif;
  line-height: normal;
}
